<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="navbar" th:fragment="nav">
    <a class="brand" th:href="@{/}">CamMatch</a>
    <div class="nav-links">
        <a th:href="@{/cameras}">Camere</a>
        <a th:href="@{/search}">Cautare</a>
        <a th:href="@{/compare}">Comparare</a>
        <a th:href="@{/recommendations}" sec:authorize="isAuthenticated()">Recomandari</a>
        <a th:href="@{/favorites}" sec:authorize="isAuthenticated()">Favorite</a>
        <a th:href="@{/profile}" sec:authorize="isAuthenticated()">Profil</a>
        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin</a>
        <a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
        <a th:href="@{/register}" class="btn small" sec:authorize="isAnonymous()">Cont nou</a>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="logout-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit" class="link-button">Logout</button>
        </form>
    </div>
</nav>
</body>
</html>
